<div class="advertisement mb-10" *ngIf="this.ads && this.ads[0]">
    <pontual-ads
    [topLabel]="false"
    [height]="'h-[150px] sm:h-[250px]'"
    [ad]="this.ads[0]"
    />
</div>
<div class="banner-container">
    <pontual-banner
    [bannerPosts]="this.bannerPosts"
    [highlightedPosts]="this.highlightedPosts"
    />
</div>
<!-- bg-[#F6F7F9] bg-opacity-[40%] border-[#F6F7F9] border-t-[1.64px] border-b-[1.64px] py-40 -->
<div class="most-recent-news mt-20 xl:mt-40 py-2#0 bg-[#f6f7f966#] border-t# border-b# border-[#F6F7F9]">
    <pontual-recent-posts [recentPosts]="this.recentPosts" />
</div>

<div class="advertisement mt-24 xl:mt-40 mb-16 xl:mb-20" *ngIf="this.ads && this.ads[1]">
    <pontual-ads
    [ad]="this.ads[1]"
    [height]="'h-[144px] xl:h-[523px]'"
    />
</div>

<div class="categorized-posts-section mt-20 xl:mt-40">
    <pontual-categorized-posts-section
    [pageStructure]="this.postsDisplaySectionStructure"
    [activeIndexes]="activeIndexes"
    />
</div>

<!-- <div class="advertisement my-20" *ngIf="this.ads && this.ads[1]">
    <pontual-ads [ad]="this.ads[1]" />
</div> -->

