<div class="body-content relative flex flex-col md:flex-row gap-x-36 justify-start items-stretch mb-[200px]">
    <!-- <div class="navbar min-w-[11.375rem] h-full bg-white sticky top-[171px] md:top-[200px]">
        <div class="navigation-items">
            <ul class="flex py-10 md:py-0 md:flex-col gap-y-3">
                <li class="">
                    <a
                    routerLink="/about/editoral-status"
                    routerLinkActive="active"
                    class="block p-3 rounded text-base font-medium text-grayText"
                    >Estatuto Editorial</a>
                </li>
                <li>
                    <a
                    routerLink="/about/contacts"
                    routerLinkActive="active"
                    class="block p-3 rounded text-base font-medium text-grayText"
                    >Contactos</a>
                </li>
                <li>
                    <a
                    routerLink="/about/team"
                    routerLinkActive="active"
                    class="block p-3 rounded text-base font-medium text-grayText"
                    >Equipa</a>
                </li>
            </ul>
        </div>
    </div> -->
    <div class="content-wrapper md:mt-10 h-full">
        <div class="outlet">
            <div class="main-title mb-6">
                <h1 class="text-secondary text-3xl font-bold">
                    Termos de usos e Políticas de privacidade
                </h1>
            </div>
            <div class="body w-full lg:w-[80%]">
                <p>
                    As matérias da Pontual não podem ser reproduzidas ou publicadas novamente sem a devida citação ou permissão escrita expressa.
                </p>
                <p>
                    De igual modo, preocupamo-nos consigo e com a privacidade dos seus dados pessoais. Para nós, é essencial e necessário prestar um serviço aos nossos utilizadores/leitores tão seguro e confidencial quanto possível, salvaguardando a privacidade das comunicações e os dados pessoais dos mesmos. Criámos esta política para demonstrar o nosso compromisso e respeito para com as regras de privacidade e proteção dos dados pessoais dos leitores e subscritores do site Pontual.
                </p>
                <p>
                    Lembramos que os dados dos assinantes e leitores nunca serão cedidos a terceiros para qualquer fim, e todo o tratamento de dados para envio de newsletters (resumo das principais notícias via e-mail) é realizado exclusivamente pela Pontual.
                </p>
                <p>
                    A Pontual investe significativamente na manutenção de segurança do seu site e sistemas de informação, de forma a prevenir o acesso aos seus dados por qualquer pessoa que não seja autorizada a tal.
                </p>
            </div>
        </div>
    </div>
</div>